.footer{
    position: absolute;
    height: 37px;
    width: 1289px;
    border-radius: 0px;
    background: #F5F5F5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    bottom: 41px;
    .logo{
    } 
    .navlink{
        >a{
            padding-left: 10px;
            font-family: Neue Haas Grotesk Display Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 24.8668px;
            line-height: 28px;
            color: #000000;
            text-decoration: none;
        }
    }
}




